<html>
    <head>
        <title>log list</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
            
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>

        <script>

            function filter_fn(f_obj, target) {
                for(key in f_obj) {
                    if (key in target && typeof target[key] === "object" && typeof f_obj[key] === "object") {
                        if (!filter_fn(f_obj[key], target[key])) {
                            return false;
                        }
                    }
                    value = f_obj[key]
                    if (value != undefined && value != "" && key in target) {
                        if (typeof target[key] === 'number') {
                            if (target[key].toString().indexOf(value.toString()) == -1) {
                                return false;
                            }
                        } else if (typeof target[key] === 'string'){
                            if (target[key].indexOf(value) == -1) {
                                return false;
                            }
                        } else if (typeof target[key] === 'object'){
                            for(vk in target[key]) {
                                let vv = target[key][vk]
                                if (typeof vv === 'number') {
                                    if (vv == value) {
                                        return true;
                                    }
                                } else if (typeof vv === 'string'){
                                    if (vv.indexOf(value) > -1) {
                                        return true;
                                    }
                                }
                            }
                            return false;
                        } else {
                            console.log("else", key, value, typeof target[key], target)
                        }
                    }
                }
                return true
            }
            function Controller(){
                this.loadData = function(filter) {
                    return $.grep(this.data, function(line) {
                        return filter_fn(filter, line);
                    });
                };
                this.insertItem = function(insertingClient) {};
                this.updateItem = function(updatingClient) {};
                this.deleteItem = function(deletingClient) {};
                this.setData = function(data) {this.data = data};
            };
 
            function render_storages(data) {
                let db = new Controller();
                db.setData(data);
                $("#jsGrid").jsGrid({
                    width: "100%",
            
                    filtering: true,
                    inserting: false,
                    editing: false,
                    sorting: true,
                    paging: false,
                    data: data,
                    controller: db,

                    rowClick: function(args) { 
                        let path = '/storage/' + args.item.name;
                        console.log("row click", args, path);
                        fetch(path)
                            .then(response => response.json())
                            .then(data => render_storage(data));
                    },
            
                    fields: [
                        { name: "created_at", type: "text", width: 50},
                        { name: "name", type: "text", width: 150},
                    ]
                });
            }
            
            function render_storage(data) {
                let db = new Controller();
                db.setData(data);
                $("#jsGrid").jsGrid({
                    width: "100%",
            
                    filtering: true,
                    inserting: false,
                    editing: false,
                    sorting: true,
                    paging: false,
            
                    data: data,
                    controller: db,

                    rowClick: function(args) { 
                        console.log("row click2", args);
                    },

            
                    fields: [
                        { name: "id", type: "number", width: 20},
                        { name: "record.metadata.level", title: "level", type: "text", width: 20},
                        { name: "record.elapsed", title: "elapsed", type: "text", width: 40, itemTemplate: function(value, item) {
                            msec =Math.round((value.secs + value.nanos / 1000000000) * 1000000)
                            return msec / 1000000;
                        }},
                        { name: "record.category", type: "text", width: 80},
                        { name: "record.message", type: "text", width: 120},
                        { name: "record.kv", type: "text", width: 120, itemTemplate: function(value, item) {
                            return JSON.stringify(value);
                        }},
                    ]
                });
            }

        </script>
    </head>
    <body>
        <div id="back">back</div>
        <div id="jsGrid"></div>
        <script>
            $( "#back" ).click(function() {
                fetch('/storages')
                    .then(response => response.json())
                    .then(data => render_storages(data));
            });
            fetch('/storages')
                .then(response => response.json())
                .then(data => render_storages(data));
        </script>
    </body>
</html>